# comments are started with the '#' character.
# empty lines will be ignored.

# identifiers are any string of non-whitespace characters.
# upon display, underscores '_' will be replaced with spaces and anything after an asterisk '*' is omitted.
# e.g. the id "CSCI_1170-01L*1" will be displayed as "CSCI 1170-01L".
# however, you must use the full (technical) id to refer to the item.

# this specification file is formatted similar to assembly language.
# instructions are not case sensitive (but everything else is).

# 'room' introduces a new named room.
# usage: room [id] [capacity] [attributes]...
# id is the name of the new room.
# capacity is the maximum number of students allowed to be in the room at one time.
# attributes is a whitespace-separated sequence of custom attributes (can used for constraints).

# 'timeslot' introduces a new schedule timeslot.
# usage: timeslot [id] [start]-[stop]
# id is the name of the schedule to insert a timeslot into - if it does not already exist it is created.
# start and stop denote the timeslot bounds and take the form hh:mm in 24hr (military) time.

# 'instructor' introduces a new instructor.
# usage: instructor [id] [max_adj_courses]
# id is the name of the instructor.
# max_adj_courses is the maximum number of adjacent courses an instructor will be scheduled to teach.

# 'course' introduces a new named course.
# usage: course [id] [capacity] [instructor] [notes...]
# id is the name of the new course
# capacity is the max number of students in said course (per section)
# instructor is the id of the instructor for this course
# different sections are handled by technically being different courses: see below
# if multiple rooms are requiresd for a course (e.g. a lab) then it needs multiple courses: see below

# 'unavailable' introduces a new unavailable constraint for an instructor.
# this is likely an uncommon constraint but could be used to represent e.g. a long commute that prohibits early classes.
# usage: unavailable [id] [start]-[stop]
# id is the instructor being constrained
# start and stop denote the unavailable time (no classes will be scheduled for this instructor during this time)
# multiple unavailable constraints for the same instructor will be merged together.

# 'requires' adds a required room attribute to a pre-existing course
# usage: requires [id] [attr]...
# attributes are defined by the (separate) rooms file.

# 'parallel' specifies that a set of courses MUST take place at same time (e.g. class that needs two rooms).
# usage: parallel [id]...
# must specify 2+ courses and order does not matter.
# note: this constraint is transitive.

# 'orthogonal' specifies that a set of courses MUST be able to be taken together.
# this means that these courses MUST NOT happen at same time as any other in the list.
# this is the effective opposite of 'parallel'.
# note: this constraint is NOT transitive.

# -----------------------------------------------------------

room 307           30
room 321           30
room 323           30
room 350           50 lab # e.g. we can give 350 the "lab" attribute to mark that it has computers
room 360           50 lab
room 320/452_other 90

# -----------------------------------------------------------

timeslot TR 8:00-9:25
timeslot TR 9:40-11:05
timeslot TR 11:20-12:45
timeslot TR 13:00-14:25
timeslot TR 14:40-16:05
timeslot TR 16:20-17:45
timeslot TR 18:00-19:25
timeslot TR 19:40-21:05

timeslot MWF 8:00-8:55
timeslot MWF 9:10-10:05
timeslot MWF 10:20-11:15
timeslot MWF 11:30-12:25
timeslot MWF 12:40-14:05
timeslot MWF 14:20-15:45
timeslot MWF 16:20-17:45
timeslot MWF 18:00-19:25

# -----------------------------------------------------------

instructor Sarkar     2
instructor Williams   2
instructor Gu         2
instructor Smith      2
instructor Untch      2
instructor Li         2
instructor Al-Tobasei 2
instructor Aderholdt  2
instructor Pettey     2
instructor Barbosa    2
instructor Phillips   3 # dr. Phillips has 3 max adj courses instead of 2 due to teaching 3130-01
instructor Seo        2
instructor Dong       2
instructor Butler     2
instructor Johnson    2

# EXAMPLE: this isn't a real-world constraint - it's just meant to give an example of this constraint
unavailable Phillips 0:00-12:00

# -----------------------------------------------------------

course 1010-01       80 Sarkar M only

schedule 1010-01 MWF

course 1150-01       30 Williams
course 1150-01L      30 Williams
course 1150-03       80 Gu MW only
course 1150-03L*1    40 Gu MW only
course 1150-03L*2    40 Gu MW only
course 1150-04       30 Gu MW only
course 1150-04L      30 Gu MW only
course 1150-05       30 Williams
course 1150-05L      30 Williams
course 1150-06       30 Smith
course 1150-06L      30 Smith

requires 1150-01L   lab
requires 1150-03L*1 lab
requires 1150-03L*2 lab
requires 1150-04L   lab
requires 1150-05L   lab
requires 1150-06L   lab

parallel 1150-01 1150-01L
parallel 1150-03 1150-03L*1 1150-03L*2
parallel 1150-04 1150-04L
parallel 1150-05 1150-05L
parallel 1150-06 1150-06L

schedule 1150-03 MWF
schedule 1150-04 MWF

orthogonal 1150-01 1150-03 1150-04 1150-05 1150-06

course 1170-01       50 Smith
course 1170-01L*1    50 Smith
course 1170-01L*2    50 Smith
course 1170-02       50 Smith
course 1170-02L*1    50 Smith
course 1170-02L*2    50 Smith
course 1170-03       30 Untch MW only
course 1170-03L      30 Untch MW only
course 1170-04       30 Li Mechatronics
course 1170-04L      30 Li Mechatronics
course 1170-05       30 Al-Tobasei
course 1170-05L      30 Al-Tobasei

requires 1170-01L*1 lab
requires 1170-01L*2 lab
requires 1170-02L*1 lab
requires 1170-02L*2 lab
requires 1170-03L   lab
requires 1170-04L   lab
requires 1170-05L   lab

orthogonal 1170-01 1170-02 1170-03 1170-04 1170-05

parallel 1170-01L*1 1170-01L*2
parallel 1170-02L*1 1170-02L*2

follows 1170-01 1170-01L*1
follows 1170-02 1170-02L*1
follows 1170-03 1170-03L
follows 1170-04 1170-04L
follows 1170-05 1170-05L

schedule 1170-03 MWF

course 2170-01       30 Aderholdt MW only
course 2170-01L*1    30 Aderholdt MW only
course 2170-01L*2    30 Aderholdt MW only
course 2170-02       30 Pettey MW only
course 2170-02L      30 Pettey MW only
course 2170-03       30 Untch
course 2170-03L      30 Untch
course 2170-04       30 Li
course 2170-04L      30 Li
course 2170-05       30 Untch
course 2170-05L      30 Untch

requires 2170-01L*1 lab
requires 2170-01L*2 lab
requires 2170-02L   lab
requires 2170-03L   lab
requires 2170-04L   lab
requires 2170-05L   lab

orthogonal 2170-01 2170-02 2170-03 2170-04 2170-05

parallel 2170-01L*1 2170-01L*2

follows 2170-01 2170-01L*1
follows 2170-02 2170-02L
follows 2170-03 2170-03L
follows 2170-04 2170-04L
follows 2170-05 2170-05L

schedule 2170-01 MWF
schedule 2170-02 MWF

course 3037-01       50 Al-Tobasei
course 3080-01       80 Pettey
course 3110-01       50 Barbosa

course 3130-01       80 Phillips
course 3130-01L*1    30 Phillips T only
course 3130-01L*2    30 Phillips T only
course 3130-01L*3    30 Phillips T only
course 3130-01L*4    30 Phillips T only

requires 3130-01L*1 lab
requires 3130-01L*2 lab
requires 3130-01L*3 lab
requires 3130-01L*4 lab

parallel 3130-01L*1 3130-01L*2
parallel 3130-01L*3 3130-01L*4

follows 3130-01 3130-01L*1
follows 3130-01L*1 3130-01L*3

schedule 3130-01 TR

course 3160-01       30 Seo
course 3160-01L      30 Seo

requires 3160-01L lab

parallel 3160-01 3160-01L

course 3210-01       30 Dong MW only

schedule 3210-01 MWF

course 3240/6050-01  50 Butler
course 3240/6050-01L 50 Butler

requires 3240/6050-01L lab

follows 3240/6050-01 3240/6050-01L

course 4/5160-01     50 Dong MW only
course 4/5360-01     30 Li
course 4/5410-01     30 Butler
course 4/5850-01     50 Phillips
course 4/5700-01     50 Sarkar MW only

schedule 4/5700-01 MWF
schedule 4/5160-01 MWF

course 3180-01       30 Seo
course 3180-01L      30 Seo

requires 3180-01L lab

parallel 3180-01 3180-01L

course 6300-01       30 Gu MW only
course 6350-01       30 Barbosa
course 6430-01       30 Aderholdt MW only
course 6620-01       30 Seo

schedule 6300-01 MWF
schedule 6430-01 MWF

course PHIL_3170-01  30 Johnson
course PHIL_3170-02  30 Johnson

orthogonal PHIL_3170-01 PHIL_3170-02

# courses that are recommended to be taken together must be orthogonal
orthogonal 3130-01 3080-01
orthogonal 3110-01 3240/6050-01

# (some) electives should be in orthogonal subsets to provide diverse options
orthogonal 3037-01 3160-01
